div{
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: blue;
    font-size: 16px;
}
div{
    padding: 20px;
    margin: 20px;
    border: solid black;
}
.introspecial{
    color: red;
}
a{
    color: green;
}
div{
    width: 200px;
    height: 100px;
    

}
.boxbox1{
    padding: 10px;
    border: solid red;
    border: 2px;
    margin: 10px;
    background-color: lightcoral;
    align-items: center;
}
.boxbox2{
    padding: 20px;
    border: green;
    border: 4px;
    margin: 20px;
    background-color: lightgreen;
}
.boxbox3{
    padding: 30px;
    border: dotted blue;
    border: 6px;
    margin: 30px;
    background-color: lightblue;
}
.container {
    width: 80%;
    margin: auto;
    border: 1px solid black;
    padding: 100px;
}
.block-element{
    background-color: lightcoral;
    width: 100%;
    height: 2px;
    padding: 20px;
    border: 0cap;
    margin: 5px;
    

}
.inline-element{
    background-color: lightgreen;
    width: 20%;
    height: 2px;
    padding: 20px;
    border: 0cap;
    margin: 5px;
}
.inline-block-element{
    background-color: lightblue;
    width: 30%;
    height: 2px;
    padding: 20px;
    border: 0cap;
    margin: 5px;
}


/* block element -> background-color: lightcoral */
/* inline element -> background-color: lightgreen */
/* inline block element -> background-color: lightblue */